<!-- 

# <% provide(:title, "Home") %>

# <!DOCTYPE html>

# <html>
  
#   <head>

#   <title><%= yield(:title) %> | Ruby On Rails Tutorial Sample App</title>

#   </head>


#   <body>

# <h1>StaticPages#help</h1>


# <p>
#   Get help on Ruby On Rails Tutorial at the <a href="http://www.railstutorial.org/help"> Rails Tutorial help page</a>.

#   To get help on this Sample App, see the <a href="http://www.railstutorial.org/book"> <em> Ruby On Rails Tutorial </em> book. </a>

# </p>

# <footer>Find me in app/views/static_pages/help.html.erb</footer>

#  </body>

#   </html>

-->

<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
