 <!-- <% provide(:title, "Home") %>

# <!DOCTYPE html>

# <html>
  
#   <head>

#     <title><%= yield(:title) %> | Ruby On Rails Tutorial Sample App</title>

#   </head>


#   <body>

#     <h1>Sample App</h1>

#     <p>This is the Home Page for the <a href="http://www.railstutorial.org/"> Ruby On Rails Tutorial </a> </p>

#     <footer>Find me in app/views/static_pages/home.html.erb </footer>

#   </body>

#   </html>

-->

<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>